.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    font-size: 20px;
    font-weight: 500;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}
